        body {
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            padding: 40px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: background-image 0.5s ease;
        }

        h1 {
            font-weight: 700;
            font-size: 28px;
            margin-bottom: 20px;
            color: #ffffff;
        }

        #track-info {
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 20px;
            color: #ffffff;
        }

        #album-cover {
            max-width: 300px;
            margin-bottom: 30px;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            background-color: rgba(255, 255, 255, 0.6);
        }

        #progress-bar {
            width: 100%;
            max-width: 400px;
            height: 10px;
            background-color: rgba(255, 255, 255, 0.6);
            margin: 0 auto;
        }

        #progress-bar .progress {
            height: 100%;
            background-color: #1db954;
            width: 0%;
        }

        #track-times {
            font-weight: 400;
            font-size: 14px;
            margin-top: 10px;
            color: #ffffff;
        }