<!DOCTYPE html>
<html>
<head>
    <title>Currently Playing</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Function to fetch the currently playing track information from the server
        function fetchCurrentlyPlaying() {
            $.ajax({
                url: "/currently-playing",
                success: function(data) {
                    // Update the track information in the HTML elements
                    $("#trackName").text(data.track_name);
                    $("#artistName").text(data.artist_name);
                    $("#albumName").text(data.album_name);
                    if (data.album_cover_url) {
                        $("#albumCover").attr("src", data.album_cover_url);
                    } else {
                        $("#albumCover").removeAttr("src");
                    }
                }
            });
        }

        // Function to periodically fetch the currently playing track information
        function updateCurrentlyPlaying() {
            fetchCurrentlyPlaying();
            setInterval(fetchCurrentlyPlaying, 5000); // Update every 5 seconds
        }

        // Call the updateCurrentlyPlaying function when the page is loaded
        $(document).ready(function() {
            updateCurrentlyPlaying();
        });
    </script>
</head>
<body>
    <h1>Currently Playing</h1>
    <p>Track: <span id="trackName"></span></p>
    <p>Artist: <span id="artistName"></span></p>
    <p>Album: <span id="albumName"></span></p>
    <img id="albumCover" alt="Album Cover">
</body>
</html>
